body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: gray;
    box-sizing: border-box;
}

.resultContainer{
    height: 20px;
    width: 100px;
    margin: 24px;
   
}

h3{
    height:20px;
    padding:10px 24px;
    border: 4px solid black;
    text-align: center;
    margin:0px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.titoliPunteggio{
    display:flex;
    gap: 2px;
}

.titoliPunteggio p{
    width: 250px ;
    padding:10px 16px;
    border: 2px solid black;
    text-align: center;
    margin-top:5px;
    margin-bottom:5px;
}

.punteggio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ioEIlBot{
    display: flex;
   
    width: 574px;
    justify-content: space-between;
    margin-top: 0px;
    border: 2px solid black;
    height: 24px;
}

.tu{
    display: flex;
    width: 286px;
    text-align: center;
    justify-content: center;
    border-right: 2px solid black;
    margin:0px;
    align-items: center;
}

.bot{
    
        display: flex;
        width: 286px;
        text-align: center;
        justify-content: center;
        margin:0px;
        align-items: center;

}

.scontro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    gap:8px;

}




